# Backend (Java) specific
/backend/target/
/backend/.idea/
/backend/.mvn/
/backend/.project

# Frontend (React) specific
/frontend/node_modules/
/frontend/build/
/frontend/.env

# IDE/editor-specific files
/.vscode/
/.idea/

# Operating system files
.DS_Store
Thumbs.db
